# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Python cache
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env 